.Login_background{
    background-image: url(http://www.appis.com.br/img/COLMEIAAPPIS.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}